<!DOCTYPE html>
<html>
<head>
    <title>Ooops</title>
    <meta charset="utf-8">
    <style type="text/css">
        #container {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>

<div id="container">
    <img alt="" src="img/logo.svg" />
    <p>Oops, Server error…</p>
</div>
<\br>
<div id="back_to_goethe">
    <a href="https://goethe.de">Goethe Institut</a>
    <a href="https://medialepfade.de">mediale Pfade e.V.</a>
    <a href="https://okfn.de">Open Knowledge Foundation</a>
    <a href="https://vrntztwltn.de">Vernetzte Welten</a>
</div>
</body>
</html>
