{% load  i18n %}

<footer>
    <a href="/" class="branding">Cuture Map . Eureka</a> verwendet uMap (version {{ UMAP_VERSION }})

    <div class="partner">
        <h4>Partner</h4>
        <p class="partner-logos">
            <a href="https://www.goethe.de">
                <img src="{{ STATIC_URL }}umap/img/footer_logo_gi.png" alt="Goethe Institut"/>
            </a>
            <a href="https://okfn.de">
                <img src="{{ STATIC_URL }}umap/img/footer_logo_okfn.png" alt="Open Knowledge Foundation"/>
            </a>
            <a href="http://www.medialepfade.org/">
                <img src="{{ STATIC_URL }}umap/img/footer_logo_mp.png" alt="Mediale Pfade"/>
            </a>
        </p>
    </div>
</footer>

